<div class="row">
    <div class="col-sm-12 col-lg-6">
        <!-- File Info -->
        <div class="row">
            <div *ngIf="!logFile" class="col-sm-12 col-lg-12">
                <section class="panel">
                    <div class="revenue-head">
                        <span>
                            <i class="fa fa-file-text-o"></i>
                        </span>
                        <h3>Log File</h3>

                    </div>
                    <div class="panel-body">
                        <label>Loading Log file</label>
                    </div>
                </section>
            </div>

            <div *ngIf="logFile" class="col-sm-12 col-lg-12">
                <section class="panel">
                    <div class="revenue-head">
                        <span>
                            <i class="fa fa-file-text-o"></i>
                        </span>
                        <h3>{{logFile.shortName}}</h3>
                        <span class="rev-combo pull-right">Uploaded on {{logFile.createDate}} </span>
                    </div>
                    <div class="panel-body">
                        <div *ngIf="logFile.description" class="row">
                            <div class="col-lg-2">
                                <p class="bold">Description:</p>
                            </div>
                            <div class="col-lg-10">
                                <span>{{logFile.description}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="bold">File name:</p>
                            </div>
                            <div class="col-lg-10">
                                <span>{{logFile.realFileName}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="bold">Parsed file:</p>
                            </div>
                            <div class="col-lg-10">
                                <a [href]="getOutputFile(logFile.outputFileName)">{{logFile.outputFileName}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer revenue-foot">
                    </div>
                </section>
            </div>
        </div>

        <!-- Thread Info -->
        <div class="row">

            <div *ngIf="!threads" class="col-sm-12 col-lg-12">
                <section class="panel">
                    <div class="panel-head-blue">
                        <span>
                            <i class="fa fa-tasks"></i>
                        </span>
                        <h3>Threads</h3>
                    </div>
                    <div class="panel-body">
                        <label>Loading threads</label>
                    </div>
                </section>
            </div>

            <div *ngIf="threads" class="col-sm-12 col-lg-12">
                <section class="panel">
                    <div class="panel-head-blue">
                        <span>
                            <i class="fa fa-tasks"></i>
                        </span>
                        <h3>Threads</h3>
                        <span class="rev-combo pull-right">Thread files: {{threads.length}}</span>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-bookmark"></i>
                                        Thread ID
                                    </th>
                                    <th>
                                        <i class="fa fa fa-file"></i>
                                        Thread File
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let thread of threads">
                                    <td>{{thread.threadId}}</td>
                                    <td><a [href]="getOutputFile(thread.threadFile)">{{thread.threadFile}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer revenue-foot">
                    </div>
                </section>
            </div>

        </div>

        <!-- Diagnostics -->
        <div class="row">

            <div *ngIf="!diagLoad" class="col-sm-12 col-lg-12">
                <section class="panel">
                    <div class="panel-head-yellow">
                        <span>
                            <i class="fa fa-th-list"></i>
                        </span>
                        <h3>Diagnostics</h3>
                    </div>
                    <div class="panel-body">
                        <label>Loading Diagnostics</label>
                    </div>

                </section>
            </div>

            <div *ngIf="diagnostics" class="col-sm-12 col-lg-12">
                <div *ngFor="let diag of diagnostics" class="row">

                    <div class="col-lg-12">
                        <div class="panel" [ngClass]="diag.style">
                            <div class="panel-body">
                                <div class="chart">
                                    <div [attr.id]="'graphy'+diag.id" class="sparkline" data-fill-color="" data-height="75" data-highlight-line-color="#ffffff" data-line-color="#ffffff" data-line-width="1" data-resize="true" data-spot-color="#ffffff" data-spot-radius="4" data-type="line" data-width="95%"></div>
                                </div>
                            </div>
                            <div class="chart-tittle">
                                <span class="title"><i class="fa fa-th-list"></i> {{diag.diagName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="col-sm-12 col-lg-6 ">
        <div class="row">
            <!--timeline start-->
            <div class="col-sm-12 col-lg-12">

                <section class="panel">

                    <div class="panel-head-green">
                        <span>
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <h3>Timeline</h3>
                        <span  *ngIf="logFile" class="rev-combo pull-right">{{logFile.realFileName}}</span>
                    </div>

                    <div class="panel-body">
                        <div *ngIf="!timeLine">
                            <label>Loading Timeline</label>
                        </div>

                        <div class="timeline">

                            <article [ngClass]="tl.timeLineClass" *ngFor="let tl of timeLine">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <span [ngClass]="getArrowClass()"></span>
                                            <span class="timeline-icon" [ngClass]="tl.iconColour"></span>
                                            <span class="timeline-date">{{tl.timeString}}</span>
                                            <h1 [ngClass]="tl.headingColour">{{tl.heading}}</h1>
                                            <div *ngIf="tl.description">
                                                <p *ngIf="tl.showDesc">{{tl.description}}</p>
                                                <button *ngIf="!tl.showDesc" class="btn btn-info btn-xs" type="button" (click)="moreClick(tl)">More</button>
                                                <button *ngIf="tl.showDesc" class="btn btn-info btn-xs" type="button" (click)="lessClick(tl)">Less</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </article>

                        </div>

                        <div class="clearfix">&nbsp;</div>
                    </div>
                </section>

            </div>
            <!--timeline end-->
        </div>

        <!-- Query Info -->
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <section class="panel">
                    <div class="panel-head-purple">
                        <span>
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <h3>Slowest Queries</h3>
                    </div>
                    <div class="panel-body">
                        <div *ngIf="!topQueries" >
                            <label>Loading queries</label>
                        </div>
                        <table *ngIf="topQueries" class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-warning"></i>
                                        Elapsed Time 
                                    </th>
                                    <th>
                                        <i class="fa fa-clock-o"></i>
                                        Time
                                    </th>
                                    <th style="width:70%">
                                        <i class="fa fa-search"></i>
                                        Query
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let query of topQueries">
                                    <td>{{query.elapsedTime}}</td>
                                    <td>{{query.queryTime}}</td>
                                    <td>
                                        <p *ngIf="!query.showDesc">{{getTheFirstBit(query.querySql)}}</p>
                                        <p *ngIf="query.showDesc">{{query.querySql}}</p>
                                        <button *ngIf="!query.showDesc" class="btn btn-info btn-xs" type="button" (click)="moreClick(query)">More</button>
                                        <button *ngIf="query.showDesc" class="btn btn-info btn-xs" type="button" (click)="lessClick(query)">Less</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer revenue-foot">
                    </div>
                </section>
            </div>
        </div>

        <!-- Exception Info -->
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <section class="panel">
                    <div class="panel-head-terq">
                        <span>
                            <i class="fa fa-bug"></i>
                        </span>
                        <h3>Exceptions</h3>
                    </div>
                    <div class="panel-body">
                        <div *ngIf="!exceptions">
                            <label>Loading exceptions</label>
                        </div>

                        <table  *ngIf="exceptions" class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th style="width:90%">
                                        <i class="fa fa-bug"></i>
                                        Exception
                                    </th>
                                    <th style="width:10%">
                                        <i class="fa fa-flash"></i>
                                        Count
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ex of exceptions">
                                    <td>
                                        <p *ngIf="!ex.showDesc">{{getTheFirstBit(ex.stackTrace)}}</p>
                                        <div *ngIf="ex.showDesc" style="width:500px" class="wordwrap">
                                            {{ex.stackTrace}}
                                        </div>
                                        <button *ngIf="!ex.showDesc" class="btn btn-info btn-xs" type="button" (click)="moreClick(ex)">More</button>
                                        <button *ngIf="ex.showDesc" class="btn btn-info btn-xs" type="button" (click)="lessClick(ex)">Less</button>
                                    </td>
                                    <td>{{ex.exceptionCount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer revenue-foot">
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>